.text-violet {
  color: #674188; /* Or use a specific hex code, e.g., #8A2BE2 */
}
.text-large {
  font-size: 2rem; /* Adjust size as needed */
}
.hover-text:hover {
  color: #674188;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}
